<html>
    <head>
        <title>Broadridge Notes</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Broadridge Note Site</div>
                <a href="/" class="item">Home</a>
                <a href="/notes/new" class="item">New Note</a>
                <a href="/restfulroutes" class="item">RESTful Routes</a>
                <a href="https://www.broadridge.com/" class="item">Broadridge</a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a id="login" href="/login">Login</a></li>
                            <li><a id="signup" href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li><a id="current" href="#">Signed In As <%= currentUser.username %></a></li>
                            <li><a id="logout" href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        