<% include ./partials/header %> 

<h1>Login to post or make any changes to the Notes and Comments!</h1>
<br>
<div>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="enter the username">
        <input type="password" name="password" placeholder="enter the password">
        <input type="submit">Login</button>
    </form>
</div>

<% include ./partials/footer %> 
