<% include ./partials/header %> 

<h1>Sign Up for a new BR Google-Notes account!</h1>
<br>
<div>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="enter a username">
        <input type="password" name="password" placeholder="enter a password">
        <input type="submit">Sign Up</button>
    </form>
</div>

<% include ./partials/footer %> 
