i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

body {
    background: gainsboro;
}

#panel, #flip {
    padding: 5px;
    color: white;
    text-align: center;
    background-color: grey;
    border: solid 1px #c3c3c3;
}

#panel {
    background-color: grey;
    color: white;
    padding: 40px;
    display: none;
}

#menu{
  background-color: DimGrey;  
}

#login, #logout, #signup, #current {
    color: gold;
}


#messageForm { padding: 3px; position: auto; bottom: 1; width: 170%; }
#messageForm input { border: 100; padding: 10px; width: 50%; margin-right: 0.5% }
#messageForm button { width: 9%; background: Grey; color:gold; border: none; padding: 10px; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }